.introText {
    margin-top: 22rem;
    margin-bottom: 1rem;
    color: #000;
    font-family: var(--font-dm-serif-display);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}