.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.container:hover {
    background-color: #FAF9FF;
}

.text {
    color: #6C3ECC;
    font-family: "DM Sans";
    font-size: 1.89556rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    translate: 0.003rem -0.085rem;
}