.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    padding: 0 1rem;
    border-radius: 0.375rem;
    background-color: #6c3ecc;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.01);
}

.text {
    color: #d9cffb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    white-space: nowrap;
}
