.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 8rem;
  width: 100%;
}

.profileWrapper {
  position: absolute;
  top: 1.625rem;
  right: 1.3rem;
}

.logoWrapper{
    left: 2.87rem;
    top: 1.13rem;
    position: absolute;
}