.button {
    width: 23.2rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #6c3ecc;
    background: #fff;
}
.text{
    color: #000;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}